@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body{
	background: #c4c4c4;
	font-size: 14px;
	line-height: 20px;
}

.resume_wrapper{
	display: flex;
	width: 800px;
	margin: 50px auto;
	background: #fff;
	padding: 10px;
}

.resume_wrapper .resume_left{
	width: 35%;
	background: #101D42;
    box-shadow: 13px 3px 30px 1px #6564DB;

}

.resume_wrapper .resume_left .resume_image{
	width: 100%;
}

.resume_wrapper .resume_left .resume_image img{
	width: 100%;
	display: block;
}

.resume_wrapper .resume_title{
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 10px;
	letter-spacing: 4px;
}

.resume_wrapper .resume_left .resume_info{
	color: #84838b;
}

.resume_wrapper .resume_left .resume_bottom{
	padding: 20px 30px;
}

.resume_wrapper .resume_item{
	padding: 20px 0;
	border-bottom: 1px solid #232ED1;
}

.resume_wrapper  .resume_item:last-child{
	border-bottom: 0;
}

.resume_wrapper .resume_left .resume_namerole{
	display: none;
}

.resume_wrapper .resume_namerole .name{
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 5px;
	letter-spacing: 4px;
}

.resume_wrapper .resume_left .resume_namerole .role{
	color: #84838b;
}

.resume_wrapper .resume_left .resume_contact .resume_info:last-child{
	 margin-top: 10px;
}

.resume_wrapper .resume_left .resume_contact .resume_subtitle{
	color: #fff;
	margin-bottom: 2px;
}

.resume_wrapper .resume_left .resume_skills .skills_list{
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.resume_wrapper .resume_left .resume_skills .skills_list .skills_bar p{
	position: relative;
	width: 125px;
    height: 5px;
    background: #fff;
    margin-top: 7px;
}

.resume_wrapper .resume_left .resume_skills .skills_list .skills_bar p span{	
	position: absolute;
	top: 0;
	left: 0;
	background: #232ED1;
	width: 100%;
	height: 100%;
}

.resume_wrapper .resume_right{
	width: 65%;
	padding: 20px 40px;
	color: #101D42;
}

.resume_wrapper .resume_right .resume_namerole .name{
	color: #101D42;
	font-size: 32px;
}

.resume_wrapper .resume_right .resume_namerole .role{
	font-size: 14px;
	text-transform: uppercase;
    margin-top: 20px;
}

.resume_wrapper .resume_right .resume_item .resume_title{
	color: #101D42;
}

.resume_wrapper .resume_right .resume_data{
	display: flex;
}

.resume_wrapper .resume_right .resume_data .year{
	padding-right: 35px;
	width: 115px;
	position: relative;
}

.resume_wrapper .resume_right .resume_data .content{
	padding-left: 35px;
	margin-bottom: 20px;
	width: calc(100% - 115px);
}

.resume_wrapper .resume_right .resume_data .year:before{
	content: "";
	position: absolute;
	top: 5px;
	right: 0;
	width: 10px;
	height: 10px;
	background: #fff;
	border: 1px solid #101D42;
	border-radius: 50%;
}

.resume_wrapper .resume_right .resume_data .year:after{
	content: "";
    position: absolute;
    top: 17px;
    right: 4px;
    width: 3px;
    height: 90%;
    background: #232ED1;
}

.resume_wrapper .resume_right .resume_data:last-child .year:after{
	display: none;
}

.resume_wrapper .resume_right .resmue_interests .resume_info{
	display: flex;
	justify-content: space-between;
	text-align: center;
    margin-top: 23px;
}

.resume_wrapper .resume_right .resmue_interests .interests .int_icon{
	font-size: 38px;
	color: #232ED1;
	margin-bottom: 10px;
}


@media screen and (max-width: 800px){
	.resume_wrapper .resume_right .resume_namerole{
		display: none;
	}
	.resume_wrapper .resume_left .resume_namerole{
		display: block;
	}
	.resume_wrapper{
		width: 95%;
		margin: 10px auto;
		flex-direction: column;
	}
	.resume_wrapper .resume_left,
	.resume_wrapper .resume_right{
		width: 100%;
	}
}

@media screen and (max-width: 424px){
	.resume_wrapper .resume_right{
		padding: 20px 30px;
	}
	.resume_wrapper .resume_right .resume_data{
		flex-direction: column;
	}
	.resume_wrapper .resume_right .resume_data .year{
		padding: 0;
		margin-bottom: 5px;
		width: 100%;
		color: #232ED1;
	}
	.resume_wrapper .resume_right .resume_data .year:before,
	.resume_wrapper .resume_right .resume_data .year:after{
		display: none;
	}
	.resume_wrapper .resume_right .resume_data .content{
		width: 100%;
		padding: 0;
	}
	.resume_wrapper .resume_right .resmue_interests .interests .int_icon{
		font-size: 24px;
	}
}

.resume_wrapper .resume_right .resmue_interests .download a{
	top: 25px;
}

@import "https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";
a:link{text-decoration:none}
.vn-red a{
  background-color:#e74c3c;
  display:inline-block;
  position:relative;
  margin:30px 5px;
  padding:20px 20px 20px 80px;
  color:#fff;
  transition:all 0.4s ease
}

.vn-red a:before{
  content:"\f019";
  font-family:fontAwesome;
  position:absolute;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size:28px;
  border-radius:0 20px 0 0;
  color:#000;
  background-color:#fff;
  opacity:0.3;
  padding:20px;
  top:0;
  left:0
}

.vn-red a:hover{
  background:#2c3e50
}

.vn-green a{
background-color:#27ae60;
  display:inline-block;
  position:relative;
  margin:30px 5px;
  padding:20px 20px 20px 80px;
  color:#fff;
  transition:all 0.4s ease
}

.vn-green a:before{
  content:"\f019";
  font-family:fontAwesome;
  position:absolute;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size:28px;
  border-radius:0 20px 0 0;
  color:#000;
  background-color:#fff;
  opacity:0.3;
  padding:20px;
  top:0;
  left:0
}

.vn-green a:hover{
  background:#2c3e50
}

.vn-teal a{
background-color:#16a085;
  display:inline-block;
  position:relative;
  margin:30px 5px;
  padding:20px 20px 20px 80px;
  color:#fff;
  transition:all 0.4s ease
}

.vn-teal a:before{
  content:"\f019";
  font-family:fontAwesome;
  position:absolute;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size:28px;
  border-radius:0 20px 0 0;
  color:#000;
  background-color:#fff;
  opacity:0.3;
  padding:20px;
  top:0;
  left:0
}

.vn-teal a:hover{
  background:#2c3e50
}

.vn-orange a{
background-color:#f39c12;
  display:inline-block;
  position:relative;
  margin:30px 5px;
  padding:20px 20px 20px 80px;
  color:#fff;
  transition:all 0.4s ease
}

.vn-orange a:before{
  content:"\f019";
  font-family:fontAwesome;
  position:absolute;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size:28px;
  border-radius:0 20px 0 0;
  color:#000;
  background-color:#fff;
  opacity:0.3;
  padding:20px;
  top:0;
  left:0
}

.vn-orange a:hover{
  background:#2c3e50
}

.vn-blue a{
background-color:#2980b9;
  display:inline-block;
  position:relative;
  margin:30px 5px;
  padding:20px 20px 20px 80px;
  color:#fff;
  transition:all 0.4s ease
}

.vn-blue a:before{
  content:"\f019";
  font-family:fontAwesome;
  position:absolute;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size:28px;
  border-radius:0 20px 0 0;
  color:#000;
  background-color:#fff;
  opacity:0.3;
  padding:20px;
  top:0;
  left:0
}

.vn-blue a:hover{
  background:#2c3e50
}

.resume_wrapper .resume_right .resmue_interests .download{
	margin: 15px;
    font-family: helvetica, sans-serif;
    background: #fff;
}
#wrap {
    margin: 20px auto;
    text-align: center;
}

.btn-slide, .btn-slide2 {
    position: relative;
    display: inline-block;
    height: 53px;
    width: 200px;
    line-height: 50px;
    padding: 0;
    border-radius: 50px;
    background: #fdfdfd;
    border: 2px solid #0099cc;
    margin: 10px;
    transition: .5s;
}

.btn-slide2 {
    border: 2px solid #232ED1;
}

.btn-slide:hover {
    background-color: #0099cc;
}

.btn-slide2:hover {
    background-color: #232ED1;
}

.btn-slide:hover span.circle, .btn-slide2:hover span.circle2 {
    left: 100%;
    margin-left: -45px;
    background-color: #fdfdfd;
    color: #0099cc;
}

.btn-slide2:hover span.circle2 {
    color: #232ED1;
}

.btn-slide:hover span.title, .btn-slide2:hover span.title2 {
    left: 40px;
    opacity: 0;
}

.btn-slide:hover span.title-hover, .btn-slide2:hover span.title-hover2 {
    opacity: 1;
    left: 40px;
}

.btn-slide span.circle, .btn-slide2 span.circle2 {
    display: block;
    background-color: #0099cc;
    color: #fff;
    position: absolute;
    float: left;
    margin: 5px;
    line-height: 42px;
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    transition: .5s;
    border-radius: 50%;
}

.btn-slide2 span.circle2 {
    background-color: #232ED1;
}

.btn-slide span.title,
  .btn-slide span.title-hover, .btn-slide2 span.title2,
  .btn-slide2 span.title-hover2 {
    position: absolute;
    left: 90px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: #30abd5;
    transition: .5s;
}

.btn-slide2 span.title2,
  .btn-slide2 span.title-hover2 {
    color: #232ED1;
    left: 80px;
  }

.btn-slide span.title-hover, .btn-slide2 span.title-hover2 {
    left: 80px;
    opacity: 0;
}

.btn-slide span.title-hover, .btn-slide2 span.title-hover2 {
    color: #fff;
}